.container_slider_css{margin:50px auto;width:500px;height:300px;overflow:hidden;position:relative}
.photo_slider_css{position:absolute;animation:round 32s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:24s}
img:nth-child(2){animation-delay:16s}
img:nth-child(3){animation-delay:8s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}