.offers1 {

    float: left;
    height: 500px;
    margin-left: 0px;
    
    display: inline-block;


}



.searchbar2 {

    height: 31px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 0px;
    padding-left: 15px;
    margin-left: 0px;
    width: 195px;
    margin-top: 0px;
    padding-top: 0px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    float: left;

}

.sear {
    height: 31px;
    


}

.submit2 {

    background-color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border: 0px;
    height: 31px;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    width: 40px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-right: 0px;
}

.submit2 img {

    padding-top: 3px;
    height: 20px;
    width: 20px;
    justify-content: center;
    padding-right: 3px;



}

.filter {

    margin-top: 25px;
    height: 190px;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);

}


.filter2 {

    margin-left: 10px;
    padding-top: 20px;


}
.filter1 {

    float: left;
    font-size: 16px;
    display: inline;

}

.filter1 img {

    height: 20px;
    width: 20px;
    

}

.filter1 p {

    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}


.filter ul li {

    height: 30px;
    list-style-type: none;
    width: 230px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.sort {

    width: 810px;
    height: 190px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border-radius: 15px;
    justify-content: center;
    float: left;
    display: inline;
    font-size: 14px;
    margin-top: 30px;

}

.sort1 {

    display: inline;

}


select {

    border: 0px;
    font-size: 14px;
    color: #000aef;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
}

.goods {

    display: inline;
    float: left;

}

.goods img {

    margin-top: 25px;
    margin-left: 25px;
    height: 140px;
    width:110px


}

.goods1 {

    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    margin-top:15px;
    font-family: 'Roboto', sans-serif;
    display: inline;
    height: 94px;
    width: 200px;
    float: left;
    

}

.credit {

    margin-top: 15px;
    border-radius: 15px;
    height: 21px;
    width: 121px;
    background-color: #D9ACAC;
    font-size: 13px;
    color: #AA1919;
    text-align: center;
    padding-top: 6px;


}

.goods2 {

    font-size: 22px;
    font-weight: 500;
    margin-top:30px;
    font-family: 'Roboto', sans-serif;
    display: inline;
    width: 280px;
    text-align: right;
    float: right;
    margin-right: 20px;
    

}

.goods2 button {

    border-radius: 15px;
    background-color: #000aef;
    color:white;
    width: 136px;
    height: 45px;
    border: 0px;
    font-size: 18px;
    font-family: 'roboto', sans-serif;
    padding-top: 0px;
    
   

}

.stars img {

    width: 15px;
    height: 15px;
    margin: 0;
}

.stars1 {

    margin-top: 8px;
    border-radius: 15px;
    height: 18px;
    width: 121px;
    background-color: #DDDDDD;
    color: black;
    padding-left: 7px;
    padding-top: 4px;
    
    width: 98px;
    padding-bottom: 5px;


}

.bottomgoods {

    display: inline;
    float: left;
    
    font-family: 'roboto',sans-serif;
    

}

.bottomgoods p {

    margin-top: 13px;
    

}

.bg1 {

    color: #000aef;
    font-weight: 500;
}
